Setup
Build
build-stamp
**/.obj*/
*.vcproj.*.user
*.vcxproj.user
*.ncb
*.suo
xcuserdata
*.VC.opendb
*.VC.db
LDView.aps
debian
ipch
/.vs/**
LDView.pro.user
Makefile
.qmake.stash
8464.TestResult.*
.vs
tests
