[General]
AutoCrop=1
BackgroundColor3=00a9b4d8
CameraGlobe=0.0,0.0,4106503
ConditionalHighlights=1
CurveQuality=4
EdgeThickness=1
HFOV=0.00999999977648258209228516
IgnoreEGL=1
LDrawDir=
LDrawZip=
LineSmoothing=1
Seams=1
UseQualityStuds=1
